.header {
  background: url(../images/cover.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  color: $ColorPalette3;
  height: 100vh;
  display: flex;
  width: 100vw;

  &__menu {
    background-color: $ColorPalette1;
    height: 36px;
    width: 36px;
    position: fixed;

    &__img {
      padding: 11px;
    }
  }
}
.header-container {
  color: $ColorPalette3;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0 auto;

  &__text {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.link-container {
  background-color: $ColorPalette3;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
