.section2 {
  background-color: $ColorPalette2;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (min-width: 680px) {
  }
}
.vuelta-al-cole {
  font-family: $FontTextTitle;
}

.section2_container {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding-top: 10px;

  @media (min-width: 680px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 100px;
  }
}

.section2_container img {
  width: 114px;
  border-radius: 50%;
}

.section2_container span {
  padding: 15px;
}

.container__empezar {
  width: 184px;
  height: 47px;
  color: $ColorPalette3;
  background-color: $ColorPalette1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 20px;
  transition: color 0.5s;
  &:hover {
    color: $ColorPalette4;
  }
}

.container__empezar a {
  font-size: 18px;
}

.container_scroll-up {
  padding-top: 30px;
  margin-bottom: -42px;
  position: relative;
}

.scroll-up {
  background-color: $ColorPalette3;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
