<footer id="bottom" class="footer">
  <div class="footer__div1">
    <ul class="footer_list1">
      <li>
        <a href="https://adalab.es">ZAPATILLAS</a>
      </li>
      <li>
        <a href="https://adalab.es">ROPA</a>
      </li>
      <li>
        <a href="https://adalab.es">NIÑO/A</a>
      </li>
      <li>
        <a href="https://adalab.es">DESTACADOS</a>
      </li>
      <li>
        <a href="https://adalab.es">TIPS</a>
      </li>
    </ul>
  </div>
  <div class="footer__div2">
    <ul class="footer_list2">
      <li>
        <a href="https://adalab.es">TWITTER</a>
      </li>
      <li>
        <a href="https://adalab.es">INSTAGRAM</a>
      </li>
      <li>
        <a href="https://adalab.es">YOUTUBE</a>
      </li>
    </ul>
  </div>
  <div class="werun">
    <p>&copy;2023</p>
    <span>
      we
      <span style="color: #6b933e">
        <i class="fa-solid fa-heart"></i>
      </span>
      run
    </span>
  </div>
</footer>
