<a class="header__menu" href="https://adalab.es"
  ><img class="header__menu__img" src="../images/ico-menu.svg" alt="menu"
/></a>

<header class="header">
  <div class="header__container">
    <div class="header__container__text">
      <h1>COMIENZOS</h1>
      <h1>COMPARTIDOS</h1>
      <h2>Todo lo que necesitan para volver al cole con ilusión</h2>
    </div>
    <div class="link-container">
      <a href="">
        <img src="../images/ico-scroll-down.svg" alt="scroll down" />
      </a>
    </div>
  </div>
</header>
