<a class="header__menu" href="https://adalab.es"
  ><img class="header__menu__img" src="../images/ico-menu.svg" alt="menu"
/></a>

<header id="top" class="header">
  <div class="header__container">
    <div class="header__container__text">
      <span class="header-title">
        <h1>COMIENZOS</h1>
        <h1>COMPARTIDOS</h1>
      </span>
      <span class="header-text">
        <p>Todo lo que necesitan para volver al cole con ilusión</p>
      </span>
    </div>
    <div class="link-container">
      <a href="#vuelta al cole">
        <img src="../images/ico-scroll-down.svg" alt="scroll down" />
      </a>
    </div>
  </div>
</header>
